//图表数据页面样式
.chart1Mode {
    padding: 10px;
    .body {
      overflow: hidden;
      .topic {
        text-align: center;
        margin-bottom: 20px;
        > span {
          font-size: 24px;
          vertical-align: bottom;
        }
      }
      .content {
        text-indent: 2em;
        padding: 0 15%;
        margin-bottom: 15px;
        overflow: hidden;
        .tips {
          color: rgb(163, 164, 165);
          font-size: 14px;
          padding-bottom: 10px;
          padding-left: 5px;
        }
      }
      .chart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
  
        .radar {
          height: 500px;
          width: 50%;
          // box-sizing: border-box;
          // border: black 1px solid;
        }
        .pie {
          height: 500px;
          width: 50%;
        }
        .bar {
          height: 350px;
          width: 70% !important;
          // border: black 1px solid;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
  
      margin-top: 20px;
    }
  }
  //选择器组件
  .select {
    text-indent: 0em;
    margin-top: 20px;
    .majorSelect {
      display: inline;
      .el-select {
        width: 70%;
      }
      .el-button {
      }
    }
  }